# Requirements should go here, ABOVE the "#extra: dev" line

numpy
pandas >= 2
networkx >= 3
h5py
python-catmaid[stack,extras] @ git+https://github.com/navis-org/pymaid.git@master
zarr
dask
tqdm
scipy
tomli; python_version < '3.11'
multiscale_read[http] @ git+https://github.com/clbarnes/multiscale_read.git@85f254878c41f4ce91198c30499be1855d3ac67d
cremi @ git+https://github.com/clbarnes/cremi_python.git@py3_2023
tables
scikit-image

#extra: dev

black
extreqs
ipdb
ipython
mypy
pur
pytest
ruff
setuptools
setuptools-scm
wheel
