# Requirements should go here, ABOVE the "#extra: dev" line

numpy
pandas >= 2
networkx >= 3
h5py
python-catmaid
zarr
dask
tqdm
fsspec[http]

#extra: dev

black
extreqs
ipdb
ipython
mypy
pur
pytest
ruff
setuptools
setuptools-scm
wheel
